product-name: harbor-container-registry
product-properties:
  .harbor-app.static_ips:
    value: 172.16.2.22
  .properties.admin_password:
    value:
      secret: ((harbor_admin_password))
  .properties.admin_password_for_smoketest:
    value:
      secret: ((harbor_admin_password))
  .properties.auth_mode:
    selected_option: db_auth
    value: db_auth
  .properties.clair_updater_interval:
    value: 0
  .properties.customize_container_network:
    selected_option: default
    value: default
  .properties.hostname:
    value: ((harbor_hostname))
  .properties.no_proxy:
    value: 127.0.0.1,localhost,ui,registry
  .properties.registry_storage:
    selected_option: filesystem
    value: filesystem
  .properties.server_cert_key:
    value:
      cert_pem: ((harbor_server_cert_pem))
      private_key_pem: ((harbor_private_key_pem))
  .properties.server_cert_ca:
    value: ((harbor_server_cert_ca))
  .properties.with_clair:
    value: true
  .properties.with_notary:
    value: true
network-properties:
  network:
    name: PKS-Services
  other_availability_zones:
  - name: pks-az1
  - name: pks-az2
  - name: pks-az3
  singleton_availability_zone:
    name: pks-az1
resource-config:
  harbor-app:
    instances: automatic
    persistent_disk:
      size_mb: automatic
    instance_type:
      id: automatic
  smoke-testing:
    instances: automatic
    instance_type:
      id: automatic
errand-config:
  smoke-testing:
    post-deploy-state: when-changed
  uaa-deregistration:
    pre-delete-state: false
